# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# other artifacts
!.vscode/extensions.json
.DS_Store
.idea
.vs/*
.vscode/*
*.local
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.user
dist
dist-ssr
node_modules
obj