main > section {
    display: none;
    opacity: 0;
}

main > section.debug {
    z-index: 500;
}

main > section.title {
    z-index: 400;
}

main > section.control {
    z-index: 300;
}

main > section.buttons {
    z-index: 200;
}

main > section.score {
    z-index: 100;
}
