main > section {
    display: none;
    opacity: 0;
}

main > section.debugLayer {
    z-index: 500;
}

main > section.titleLayer {
    z-index: 400;
}

main > section.controlLayer {
    z-index: 300;
}

main > section.buttonLayer {
    z-index: 200;
}

main > section.scoreLayer {
    z-index: 100;
}
