main > section.game {
    opacity: 0;
}

main > section.game > b {
    width: var(--button_size);
    height: var(--button_size);

    left: var(--button_pos);
    top: var(--button_pos);

    display: inline-block;
    border-radius: 3%;
    border-style: solid;
    border-width: var(--button_border);
}

main > section.game > b#button_0 {
    left: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
    top: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
}
main > section.game > b#button_1 {
    left: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
    top: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
}
main > section.game > b#button_2 {
    left: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
    top: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
}
main > section.game > b#button_3 {
    left: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
    top: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
}

main > section.game > b#button_0.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_0),
        var(--box_shadow_b) var(--glow_color_0),
        var(--box_shadow_c) var(--glow_color_0),
        var(--box_shadow_d) var(--glow_color_0);
}
main > section.game > b#button_1.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_1),
        var(--box_shadow_b) var(--glow_color_1),
        var(--box_shadow_c) var(--glow_color_1),
        var(--box_shadow_d) var(--glow_color_1);
}
main > section.game > b#button_2.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_2),
        var(--box_shadow_b) var(--glow_color_2),
        var(--box_shadow_c) var(--glow_color_2),
        var(--box_shadow_d) var(--glow_color_2);
}
main > section.game > b#button_3.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_3),
        var(--box_shadow_b) var(--glow_color_3),
        var(--box_shadow_c) var(--glow_color_3),
        var(--box_shadow_d) var(--glow_color_3);
}
