.titleArea {
    opacity: 0;
}

.titleArea > h1 {
    color: #ffff00;
    font-size: 10svmax;
    top: calc(50% - 5svmax);
}

.titleArea > aside {
    color: #000000;
    font-family: monospace;
    font-size: 2.3svmax;
    top: calc(100svmax - 3svmax);
}

.controlArea {
    opacity: 0;
    height: calc(var(--control_image_size) + var(--control_image_margin));
}

.controlArea > img {
    opacity: 0.25;
    width: 6svmax;
    height: 6svmax;

    left: 2svmax;
    top: 2svmax;
}

.controlArea > img#play {
    opacity: 0;
}

.controlArea > img#restart {
    left: calc(100% - 8svmax);
}

.gameArea {
    opacity: 0;
}

.gameArea > b {
    width: var(--button_size);
    height: var(--button_size);

    left: var(--button_pos);
    top: var(--button_pos);

    display: inline-block;
    border-radius: 3%;
    border-style: solid;
    border-width: var(--button_border);
}

.gameArea > b#button_0 {
    left: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
    top: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
}
.gameArea > b#button_1 {
    left: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
    top: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
}
.gameArea > b#button_2 {
    left: calc(var(--button_pos) - calc(var(--button_margin) * 0.5));
    top: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
}
.gameArea > b#button_3 {
    left: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
    top: calc(
        calc(var(--button_pos) + var(--button_size)) + var(--button_margin)
    );
}

.gameArea > b#button_0.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_0),
        var(--box_shadow_b) var(--glow_color_0),
        var(--box_shadow_c) var(--glow_color_0),
        var(--box_shadow_d) var(--glow_color_0);
}
.gameArea > b#button_1.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_1),
        var(--box_shadow_b) var(--glow_color_1),
        var(--box_shadow_c) var(--glow_color_1),
        var(--box_shadow_d) var(--glow_color_1);
}
.gameArea > b#button_2.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_2),
        var(--box_shadow_b) var(--glow_color_2),
        var(--box_shadow_c) var(--glow_color_2),
        var(--box_shadow_d) var(--glow_color_2);
}
.gameArea > b#button_3.glow {
    box-shadow: var(--box_shadow_a) var(--glow_color_3),
        var(--box_shadow_b) var(--glow_color_3),
        var(--box_shadow_c) var(--glow_color_3),
        var(--box_shadow_d) var(--glow_color_3);
}

.scoreArea {
    background-color: #000000;
    color: #ffff00;
    opacity: 0;
    font-size: var(--score-font-size);
    height: var(--score-font-size);
    top: var(--score-font-top);
}

.scoreArea > .scoreValue {
    color: #FFFFFF;
    position: relative;
}