.titleArea {
    opacity: 0;
}

.titleArea > h1 {
    color: #ffff00;
    font-size: 10svmax;
    top: calc(50% - 5svmax);
}

.titleArea > aside {
    color: #000000;
    font-family: monospace;
    font-size: 2.3svmax;
    top: calc(100svmax - 3svmax);
}