:root {
    --button_size: 39svmin;
    --score-font-top-offset: 1.85;
}

@media (orientation: landscape) {
    :root {
        --button_size: 33svmin;
        --score-font-top-offset: 1.05;
    }
}

:root {
    --button_pos: calc(50% - calc(calc(var(--button_size) * 2) * 0.5));
    --button_border: 1svmin;
    --button_margin: 4svmin;

    --control_image_size: 4svmax;
    --control_image_margin: 2svmax;
    --score-font-size: 4svmax;
    --score-font-top: calc(
        100% - calc(var(--score-font-size) * var(--score-font-top-offset))
    );

    --fade_speed: 1000ms;
    --glow_speed: 1000ms;
    --fade_tansition: opacity var(--fade_speed) linear;

    --glow_color_0: #000000;
    --glow_color_1: #000000;
    --glow_color_2: #000000;
    --glow_color_3: #000000;

    --box_shadow_a: 0 0 1svmin;
    --box_shadow_b: 0 0 2svmin;
    --box_shadow_c: 0 0 4svmin;
    --box_shadow_d: 0 0 8svmin;
}
