@font-face {
    font-family: "ximon77";
    src: url("./assets/gomarice_game_music_love.ttf") format("truetype");
}

:root {
    --button_size: min(33vw, 33vh);
    --button_margin: min(2.5vw, 2.5vh);

    --fade_speed: 1000ms;
    --fade_tansition: opacity var(--fade_speed) linear;

    --glow_speed: 1000ms;

    --glow_color_0: #000000;
    --glow_color_1: #000000;
    --glow_color_2: #000000;
    --glow_color_3: #000000;

    --box_shadow_a: 0 0 5px;
    --box_shadow_b: 0 0 25px;
    --box_shadow_c: 0 0 50px;
    --box_shadow_d: 0 0 200px;
}

* {
    margin: 0;
    font-weight: normal;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #0000ff;
}

main {
    background-color: #000000;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    color: #ff1493;
    font-size: 3vmin;
}

h1 {
    color: #ffff00;
    font-family: ximon77;
    font-size: 16vmin;
    text-align: center;
    
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
