@font-face {
    font-family: "ximon77";
    src: url("./assets/gomarice_game_music_love.ttf") format("truetype");
}

:root {
    --button_size: 33svw;
    --button_margin: 3svw;

    --fade_speed: 1000ms;
    --fade_tansition: opacity var(--fade_speed) linear;

    --glow_speed: 1000ms;

    --glow_color_0: #000000;
    --glow_color_1: #000000;
    --glow_color_2: #000000;
    --glow_color_3: #000000;

    --box_shadow_a: 0 0 5px;
    --box_shadow_b: 0 0 25px;
    --box_shadow_c: 0 0 50px;
    --box_shadow_d: 0 0 200px;
}

* {
    box-sizing: border-box;
    font-family: ximon77;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
}

* {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #0000ff;
}

main {
    background-color: #000000;
}

.overlay {
    background-color: #ff1493;
    opacity: 0;
}

aside {
    color: #ff1493;
    font-family: monospace;
    font-size: 2.3svh;
    opacity: 0.33;
    top: calc(100svh - 3svh);
}

h1 {
    color: #ffff00;
    font-size: 10svh;
    top: calc(50% - 8svh);
}
