* {
    box-sizing: border-box;
    font-family: ximon77;
    font-weight: normal;

    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --xvw: 100svw;
    --xvh: 100svh;
    --bac: #000000;
    --bor: #0000ff;
}

@media screen and (orientation: landscape) {
    :root {
        --xvw: calc(var(--xvh) * 0.5625);
    }
}

html {
    font-size: calc(var(--xvw) / 100);
}

body {
    background-color: #ffffff;
    background-color: var(--bac);
}

main {
    width: var(--xvw);
    height: var(--xvh);
    background-color: var(--bac);
}


section {
    position: fixed;
    opacity: .45;
    
    width: var(--xvw);
    height: var(--xvh);

    border-width: 1rem;
    border-style: solid;
    border-color: var(--bor);

    opacity: 0;
}

section.titleLayer {
    color: #ffff00;
    font-size: 14rem;
    text-align: center;
    vertical-align: middle;
    line-height: var(--xvh);
}

section.controlLayer {
    color: #ff0000;
    font-size: 7rem;
}

section.controlLayer img {
    width: 7rem;
}